* {
  position: relative;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: 'DIN Next LT Pro', sans-serif;
}

.layer__1 {
  background-image: url('../images/background-site.png');
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.layer__2 {
  position: absolute;
  top: 100vh;
  left: 0;
  background-image: url('../images/cup.png');
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: 1;
  transition: all 2s;
}

.layer__3 {
  position: absolute;
  top: 100vh;
  left: 0;
  background-image: url('../images/confety.png');
  background-repeat: repeat;
  width: 100%;
  height: 100vh;
  z-index: 2;
  transition: all 2s;
}

.layer__top {
  top: 0;
}

.layer__45-common {
  position: absolute;
  top: 0;
  height: 800px;
  width: 100%;
  overflow: hidden;
  background-color: rgba(208, 173, 104, 1);
  z-index: 4;
  transition: all 3s;
}

.layer__4 {
  right: -100%;
  clip-path: polygon(100% 0, 68% 0, 30% 100%, 100% 100%);
}

.layer__4-animate {
  right: 0;
}


.layer__4--right {
  background-image: url('../images/people-right.png');
}

.layer__wrapper {
  position: absolute;
  top: 0;
  background-image: url('../images/gradient-left.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  transform: scaleX(-1);
  z-index: 5;
}

.layer__5 {
  left: -100%;
  clip-path: polygon(0 0, 68% 0, 30% 100%, 0% 100%);
}

.layer__5-animate {
  left: 0;
}

.layer__45-img {
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  top: -63px;
  width: 100%;
  height: 108%;
  opacity: 0.4;
  z-index: 5;
}

.layer__5--left {
  background-image: url('../images/people-left.png');
}

.layer__6 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0px 0px 7px rgb(0, 0, 0);
  line-height: 0.8;
  font-weight: bold;
  z-index: 6;
}

p {
  margin: 0;
}

.layer__6--1st {
  font-size: 191px;
}

.layer__6--2nd {
  font-size: 137px;
}

.layer__6--3rd {
  font-size: 78px;
}

.layer__7 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(1.7);
  z-index: 100;
  transition: all 5s;
}

.layer__7--left {
  left: -70%;
}

.layer__7--right {
  right: -100%;
}

.layer__7--left-animate {
  transform: translateY(-50%) scale(0.7);
  left: 5%;
}

.layer__7--right-animate {
  transform: translateY(-50%) scale(0.7);
  right: 5%;
}


.layer__8 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100vh;
}

.layer__9 {
  position: absolute;
  top: 0;
  right: -18%;
  width: 100%;
  height: 100vh;
  background-image: url('../images/trophy-last.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 3;
}

.layer__10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1000vh;
  clip-path: polygon(0 0, 71% 0%, -553% 100%, 0% 100%);
  background-color: #000;
  z-index: 7;
}

.layer__11 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(208, 173, 104, 0.6);
  width: 100%;
  height: 100%;
  z-index: 6;
}

.layer__12 {
  transform: scaleX(1);
  z-index: 8;
}

.layer__12 {
  transform: scaleX(1);
  z-index: 8;
}

.layer__13--left {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 20px;
}

.text__white strong {
  display: inline-block;
  margin-bottom: 6px;
  padding: 3px;
  padding-right: 25px;
  line-height: 1;
  font-size: 40px;
  font-weight: bold;
  background-color: #fff;
  text-transform: uppercase;
}

.layer__14 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 8;
  width: 320px;
}

.text__date {
  color: #fff;
  margin-top: 35px;
  font-size: 34px;
}

.text__time {
  position: relative;
  text-transform: uppercase;
  margin-left: 16px;
}

.text__time::after {
  position: absolute;
  top: 50%;
  left: -13px;
  content: "";
  width: 3.5px;
  height: 20px;
  transform: translateY(-49%);
  z-index: 23;
  background: #d0ad68;
}

.text__live {
  display: flex;
  align-items: center;
  color: #d0ad68;
  margin-top: 25px;
  font-size: 30px;
  text-transform: uppercase;
}

.text__live-img {
  height: 50px;
  margin-left: 15px;
}

.text__live-plus {
  margin-left: 15px;
}

.cross__wrapper {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1.2px solid rgba(255, 255, 255, 0.64);
  cursor: pointer;
  padding: 2px;
  z-index: 10;
}

.cross__box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-radius: 50%;
  border: 1.5px solid #fff;
  padding-top: 2px;
  transition: all 0.3s;
}

.cross {
  width: 1px;
  height: 15px;
  background-color: #fff;
}

.cross--1 {
  transform: rotate(45deg) translate(0px, -1px);
}

.cross--2 {
  transform: rotate(-45deg) translate(0px, -1px);
}

.video__cross {
  top: 120px;
  right: 180px;
  transform: scale(2);
  z-index: 10;
}

.video__cross-box {
  transform: rotate(45deg);
  background-color: rgba(0, 0, 0, 0.56);
}

.video__cross-text {
  position: absolute;
  left: -69%;
  text-transform: uppercase;
  width: 100px;
  margin-top: 6px;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  font-size: 8px;
  font-weight: bold;
  z-index: 10;
  color: #fff;
}

.video {
  position: absolute;
  right: 14px;
  top: 4px;
  z-index: -1;
}